/*!
 * ==========================================================================
 *   Project's custom styles
 *   @author: ;
 * ========================================================================== */


footer#page-footer{ padding: 2em 0; max-width: 1170px; margin: 0 auto;
	ul#sponsors{list-style-type: none; display: inline; margin: 0; padding: 0;
		li{display: inline-block; margin-right: 2em;}
	}
}